@{
    ViewBag.Title = "About";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/Images/Theme/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@ViewBag.Title</h1>
                    <span class="subheading">A little about us</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            Cras malesuada dignissim dapibus. Phasellus nec laoreet justo. Etiam ligula odio, lobortis at faucibus ut, mattis quis arcu. Quisque mollis euismod lorem vel consequat. Cras ac sollicitudin leo, vel convallis tellus. Vivamus ac placerat diam. Duis sagittis nulla sit amet lacus auctor fermentum. Phasellus augue magna, vestibulum nec scelerisque et, viverra feugiat est. Morbi ac velit lacus. Sed arcu justo, lacinia id venenatis non, pellentesque vitae velit. Nam eleifend neque elit, non faucibus orci dapibus in.
        </div>
    </div>
</div>
