@model List<BlogProject.Models.Post>
@{
    ViewBag.Title = "Home Page";
}
<h1>All the posts</h1>

<div class="row">
    <ol>
        @foreach (var post in Model)
        {
            <li> <a href="/posts/details/@post.ID">@post.Title</a> BY @post.Author.Name at @post.PublishedTime</li>
        }
    </ol>
</div>